* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*just for fun*/
    /*border: 1px solid transparent;*/
}

/*just for fun started*/
*:hover {
    /*border: 1px solid orange;*/
}

/*end of just for fun started*/

html {
    font-family: 'lato', Arial, sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
    /*color: white;*/
}

.row {
    width: 1140px;
    margin: 0 auto;
}

h1 {
    margin-top: 0;
    font-weight: 300;
    font-size: 300%;
    color: white;
}

h3 {
    margin-bottom: 8px;
}

p {
    text-transform: none;
}

.links:link,
.links:visited {
    text-decoration: none;
    color: white;
    font-weight: 400;
    display: inline-block;
    border-radius: 200px;
    margin-left: 12px;
    background: orange;
    padding: 10px 30px;
    border: 1px solid transparent;
}

.showmemore:link,
.showmemore:visited {
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
}

.showmemore:hover,
.showmemore:active {
    color: white;
    border: 1px solid white;
    transition: color 0.73s, border 0.73s;
}

.mainlink:hover,
.mainlink:active {
    border-color: white;
}

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-content {
    position: absolute;
    align-content: center;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation-inside-header {
    float: right;
    list-style: none;
    margin-top: 24px;

}

.logo-navigation {
    margin-top: 25px;
    float: left;
    height: 100px;
    width: 100px;
}

.navigation-inside-header li {
    padding-bottom: 8px;
    margin-top: 25px;
    display: inline-block;
    margin-left: 12px;
    border-bottom: solid 2px transparent;
    transition: border-bottom-color 0.9s;
}

.navigation-inside-header li:hover {
    transition: border-bottom-color 0.73s;
    border-bottom: solid 2px orange;
}

.navigation-inside-header a {
    text-decoration: none;
    color: white;
}

.sec-before-icons {
    margin: 12px auto;
    color: black;
    text-align: center;
}

.sec-before-icons h2 {
    line-height: 145%;
    margin-bottom: 4px;
    font-weight: 400;
    text-transform: uppercase;
}

.sec-before-icons h2:after {
    display: block;
    content: " ";
    width: 100px;
    height: 2px;
    background-color: orange;
    margin: 10px auto 20px;
}

.section-features {
    margin-bottom: 30px;
}

ion-icon {
    font-size: 400%;
    padding: 8px;
    color: black;
    transition: color 1.73s;
}

ion-icon:hover {
    /* i want to change there color    */
    /*background-color: red;*/
    color: orange;
    transition: color 0.73s;
}

/*Section Meals*/
.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transition: transform 1s, opacity 0.4s;
    transform: scale(1.15);

}

.meal-photo img:hover {
    transition: transform 0.4s;
    opacity: 1;
    transform: scale(1.03);
}
